---
import { getCollection } from "astro:content";
import { siteConfig } from "@config/site-config";
import MainLayout from "../layouts/MainLayout.astro";
import BlogPost from "src/components/BlogPost.astro";
import TypedBlogPost from "@components/TypedBlogPost.astro";

const blogPosts = await getCollection("blog");
// console.log("post desde collections", blogPosts);
// console.log("post desde collections", blogPosts[0].id);
// console.log("post desde collections", blogPosts[0].slug);
// console.log("post desde collections", blogPosts[0].data);
// console.log("post desde collections", blogPosts[0].body);
---

<MainLayout title="Fernando's Blog">
  <!-- component -->
  <section class='bg-gray-900"'>
    <div class="container px-6 py-10 mx-auto">
      <h1 class="text-3xl font-semibold capitalize lg:text-4xl text-white">
        {siteConfig.title}
        <br />
        {siteConfig.description}
      </h1>

      <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
        {blogPosts.map((post) => <TypedBlogPost post={post} />)}
      </div>
    </div>
  </section>
</MainLayout>
