---
import Navbar from "../components/shared/Navbar.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="text-3xl">Home Page</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem nobis fugiat
    omnis debitis error? Illum rerum reiciendis vitae similique odit
    voluptatibus, neque laudantium dolore est eos fugit amet obcaecati quis.
  </p>
</MainLayout>
