---
import MainLayout from "@/layouts/MainLayout.astro";
import AuthLayout from "../layouts/AuthLayout.astro";
// export const prerender = false;
---

<MainLayout>
  <h1>ruta protegida</h1>
</MainLayout>
<script></script>
