---

---

<nav class="navbar">
  <ul class="navbar__menu">
    <li class="navbar__menu-item">
      <a href="/" class="navbar__menu-link">home</a>
    </li>
    <li class="navbar__menu-item">
      <a href="/about" class="navbar__menu-link">about</a>
    </li>
    <li class="navbar__menu-item">
      <a href="/contact" class="navbar__menu-link">contact</a>
    </li>
  </ul>
</nav>
