---
import MainLayout from "@/layouts/MainLayout.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
console.log("session3", session);

const { user } = session ?? {};
---

<MainLayout>
  <h1 class="text-3xl text-red-500">Home Page</h1>
  <pre>
    <code>
      { JSON.stringify(user) }
    </code>
  </pre>
</MainLayout>
